body{
    background: linear-gradient(90deg,#F1BAA1,#F1BAA1);
}
#header,
#nav,
#aside,
#section1,
#footer{
    border-radius: 1rem;
    text-align: center;
    color: #ffffff;
    padding: 1rem 0.5rem;
    box-shadow: 0 0 10px 0 #5c5c5c;
}
#header{
    background: linear-gradient(90deg,#AA1803,#BD613C);
    margin: 2rem 1rem;
    height: 10rem;
}
#nav{
    background: linear-gradient(90deg,#E34234,#E34234);
    margin: 2rem 1rem;
    height: 3rem;
}
#section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#aside{
    background: linear-gradient(90deg,#ff8640,#ff960c);
    margin: 1rem;
    height: 30rem;
    width: 15%;
}
#section1{
    background: linear-gradient(90deg,#ff9900,#ffae00);
    height: 30rem;
    width: 85%;
}
#footer{
    background: linear-gradient(90deg,#000149,rgb(46, 0, 59));
    margin: 2rem 1rem;
    height: 10rem;

}